<header>
  <div id="logo">
    <img src="logo.png" alt="A server, the website logo" />
  </div>

  <nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/">Management</a>
      </li>
      <li>
        <button>
          <span>Logout</span>
          <span class="icon">→</span>
        </button>
      </li>
    </ul>
  </nav>
</header>

<main>
  <div id="dashboard">
    <div class="dashboard-item">
      <article>
        <header>
          <img src="status.png" alt="A signal symbol" />
          <h2>Server Status</h2>
        </header>
        <div>
          @if (currentStatus === 'online') {
          <p>Server is online</p>
          <p>All systems are operational</p>
          } @else if (currentStatus === 'offline') {
          <p>Server is offline</p>
          <p>Functionality should be restored soon</p>
          } @else {
          <p>Server status unknown</p>
          <p>Fetching server status failed - Check back later</p>
          }
        </div>
      </article>
    </div>

    <div class="dashboard-item">
      <article>
        <header>
          <img src="globe.png" alt="A globe" />
          <h2>Traffic</h2>
        </header>
        <div id="traffic">
          <p>Last 7 days</p>

          <div id="chart">
            @for (dataPoint of dummyTrafficData; track dataPoint.id) {
            <div
              [style.height]="(dataPoint.value / maxTrafficValue) * 100 + '%'"
            ></div>
            }
          </div>
        </div>
      </article>
    </div>

    <div class="dashboard-item">
      <article>
        <header>
          <img src="list.png" alt="A list of items" />
          <h2>Support Tickets</h2>
        </header>
        <div id="status">
          <p>To-Do</p>
        </div>
      </article>
    </div>
    
  </div>
</main>
